/** {*/
/*margin: 0;*/
/*padding: 0;*/
/*box-sizing: border-box;*/
/*background: none;*/
/*}*/

body {
    background-color: #434A59;
}

header {
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
    font-size: 100px;
    background: peachpuff;
    padding: 20px;
}


#player1 {
    position: fixed;
    align-content: center;
    top: 200px;
    left: 500px;
    font-size: 30px;
}

#player2 {
    position: fixed;
    top: 200px;
    left: 1220px;
    font-size: 30px;
}

.scoreboard {
    margin: 40px auto;
    border: 3px solid white;
    width: 1000px;
    height: 200px;
    /*text-align: center;*/
    /*align-content: center;*/
    /*align-items:center;*/
    /*border: 2px solid white;*/
    /*border-radius: 8%;*/
    /*height: 200px;*/
    /*width: 200px;*/
    /*margin: 0 0 20px;*/
    /*left: 10%;*/
    /*top: 150px;*/
    /*padding: 50px;*/
}

.choice {
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
    transition: all 1s ease;
    padding: 20px;
    opacity: .9;
    background: no-repeat center center/auto 40px;
    margin: 30px 20px;
}

.choice:hover {
    transform: scale(1.2);
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    box-shadow: inset 300px 0 0 rgba(225, 225, 225, 0.7);
    text-shadow: 0 0 4px white;
    filter: drop-shadow(0 0 2px ghostwhite);
    transition: 1.5s;
    opacity: 1;
}


.id {
    font-family: "Apple Symbols";
    background-color: rgba(0, 0, 0, .3);
    text-shadow: 0 0 5px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: white;
    border: .5px solid white;
    text-align: center;
    padding: 4px;
    margin: 0px;
}

header > h1 {
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-align: center;
}

.option {
    margin-top: -50px;
    text-align: center;

}


#before {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    background: 20px fixed #24272E;
    animation: 2s fade-in 2s linear alternate forwards;
    z-index: 0;
    overflow: auto;
}

@keyframes fade-in {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
        width: 100%;
    }
    100% {
        width: 0;
        opacity: 0;
        transition: 4ms
    }
}


#before:before {
    height: 30px;
    width: 300px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 200px);
    box-shadow: inset 2px 0 0 #24272E;
    animation: 3.0s loading 1 normal;
    border: 1px solid white;
    content: '';
}

@keyframes loading {
    0% {
        box-shadow: inset 0 0 #4B5B81;
    }
    100% {
        box-shadow: inset 400px 0 0 #4B5B81;
    }
}